#menu-inicio{
    background-color: #fff;
}

#menu-inicio a{
    color: #cc6600;
    font-size: 16pt;
    text-transform: uppercase;
}

#menu-inicio a:hover{
    text-decoration: underline;
}

#imagem-comida{
    background-image: url("../imagens/comidas.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#pelicula{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

#pelicula h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: relative;
    top: 240px;
}

#pelicula a{
    border: 5px solid #fff;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    top: 260px;
    color: #fff;
    margin-right: 10px;
}

#pelicula a:hover{
    color: #000;
}

#logo-cardapio{
    height: 150px;
    background-color: #8d3535;
    width: 100%;
    text-align: center;
}

#logo-cardapio a{
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
}

#interior{
    height: 500px;
    width: 100%;
    background-image: url("../imagens/restaurante.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#pelicula2{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}


#pelicula2 h1{
    color: #fff;
    position: relative;
    top: 200px;
}

#pelicula2 button{
    position: relative;
    top: 250px;
    font-size: 18pt;
    font-weight: bold;
}

#logo-cardapio img{
    height: 100px;
    width: auto;
    margin-top: 10px;
}


#rodape{
    height: 150px;
    background-color: #ff5E0C;
}

#rodape div{
    width: 33.33333%;
    float: left;
    text-align: center;
    font-size: 15pt;
    margin-top: 25px;
}

#login{
    width: 400px;
    height: 300px;
    margin: 150px auto;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 5px;
}

#login button{
    width: 100%;
}

